
<%= render partial: "flash" %>

<h1>Welcome, <%= @partner.name %></h1>

<p>You are registered as a partner of <%= link_to @event %> with the email-adres "<%= @partner.email %>". Please contact them if you want to change this email address.</p>

<% if @partner.received_invitations.where(accepted: false).any? %>
  <h2>Pending Invitations</h2>

  <p>You have pending invitations. Confirm them below to receive your ticket information.</p>

  <%= render partial: "form_confirm", locals: { event: @event, partner: @partner } %>
<% end %>




<% if @partner.reservations.any? %>
  <h2>Pending Reservations</h2>

  <p>You have pending reservations. Please use below view to either send them as invitations, or pass them to your partners for further distribution.<p/>

  <div class="row">
    <div class="col-sm-4">
      <h2>Sent Invitations</h2>
      <div class="table-responsive">
        <table class="table" id="invitations">
          <tbody>
            <%= render @partner.sent_invitations %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-4">
      <h2>Reservations Left</h2>
      <div class="table-responsive">
        <table class="table" id="received-reservations">
          <tbody>
            <%= render @partner.received_reservations %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-4">
      <h2>Distribute Reservations</h2>
      <div class="table-responsive">
        <table class="table" id="sent-reservations">
          <tbody>
            <%= render @partner.send_reservations %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
